<!-- Location -->


<div class="location" id="location">
  <div class="location-box">
    <div class="location-item">
      <h2 class="text-center no-margin">{{ config.plugins.casasdepedra.location_title }}</h2>
    </div>
    <div class="location-item">
      <div class="center-h-parent">
        <div class="center-h-child">
          {% for asset in config.plugins.casasdepedra.location_document %}
            <a href="{{ url(asset.path) }}" class="button small pink" target="_blank">{{ config.plugins.casasdepedra.location_document_label }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="location-item">
      <p class="text-center no-margin">
        {{ config.plugins.casasdepedra.location_address_one }} <br />
        {{ config.plugins.casasdepedra.location_address_two }}, {{ config.plugins.casasdepedra.location_city }} <br />
        {{ config.plugins.casasdepedra.location_postcode }}
      </p>
      <div class="separator nano"></div>
      <p class="text-center nano no-margin">
        <strong>{{ config.plugins.casasdepedra.location_region }} | {{ config.plugins.casasdepedra.location_country }}</strong>
      </p>
    </div>
  </div>
</div>
