<!-- Main Garden -->

{% block main_wide %}
  <div class="content left col-large-1-1">
    <div class="content-box">
      <!-- Title -->
      {% if page.header.title != "" %}
        <div class="content-item">
          <h1 class="extra-large text-center no-margin pink-500-cl">{{ page.header.title }}</h1>
          {% if page.header.price_label != "" %}
            <p class="nano text-center no-margin gray-700-cl"><strong>{{ page.header.price_label }}</strong></p>
          {% endif %}
        </div>
      {% endif %}
      <!-- Reservations -->
      {% if page.header.reservations != "" %}
        <div class="content-item">
          <h5 class="text-center no-margin gray-500-cl">Reservations</h5>
        </div>
        <div class="content-item">
          <div class="bookings">
            <div class="center-h-parent">
              <div class="center-h-child">
                <ul class="bookings-box">
                  {% for key, reservation in page.header.reservations %}
                    <li class="bookings-item">
                      <a href="{{ reservation }}" target="_blank" class="button pink">{{ key }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <!-- Cover image -->
      {% if page.header.cover_image != "" %}
        <div class="content-item">
          {% for asset in page.header.cover_image %}
            <img src="{{ url(asset.path) }}" title="{{ site.title }}" alt="Image :: {{ site.title }}"/>
          {% endfor %}
        </div>
        <div class="separator tiny"></div>
      {% endif %}
    </div>
  </div>
  <!-- Content -->
  {% if page.content != "" %}
    <div class="content left col-large-1-1">
      <div class="content-box">
        <div class="content-item">
          {{ page.content|raw }}
        </div>
      </div>
    </div>
  {% endif %}
  <!-- Media images -->
  {% if page.media.images != "" %}
    <div class="separator tiny"></div>
    <div class="content left col-large-1-1">
      <div class="content-box">
        {% for image in page.media.images %}
          <div class="content-item col-large-3-1">
            <!-- {{ image.lightbox(960,640).cropZoom(604,340).html("Casas de Pedra", "Thumbnail") }} -->
            <a class="gallery" rel="lightbox" data-width="960" data-height="640" href="{{ image.url }}">{{ image.cropZoom(604,340).html("Casas de Pedra", "Thumbnail") }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
