<!-- Main -->

{% block main %}
  <div class="universal main gray-100-bg">
    <div class="universal-box">
      <div class="universal-item">
        {% if page.home == true %}
          <div class="center-h-parent">
            <div class="center-h-child">
              <div class="content col-large-1-1">
                <div class="content-box">
                  <div class="content-item">
                    {{ page.content|raw }}
                    <ul>
                      {% for p in page.find('/homes').children if p != page %}
                        <li><a href="{{p.url}}">{{ p.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="center-h-parent">
            <div class="center-h-child">
              <div class="left col-large-1-1">
                <div class="content col-large-1-1">
                  <div class="content-box">
                    <div class="content-item">
                      <h1 class="extra-large text-center pink-500-cl">{{ page.header.title }}</h1>
                    </div>
                    <div class="content-item">
                      {% for asset in page.header.cover_image %}
                        <img src="{{ asset.path }}" title="{{ site.title }}" alt="Image :: {{ site.title }}"/>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="content col-small-1-1">
                  <div class="content-box">
                    <div class="content-item">

                      {{ page.content|raw }}
                      {% for image in page.media.images %}
                        {{ image.lightbox(1024,768).cropZoom(100,50).html() }}
                      {% endfor %}
                      {% block body %}
                          {% for module in page.collection() if module.template != 'modular/hero' %}
                              <div id="{{ macro.pageLinkName(module.menu) }}"></div>
                              {{ module.content|raw }}
                          {% endfor %}
                      {% endblock %}
                      {% for p in page.collection.order('folder','asc') %}
                        <h2>{{ p.title }}</h2>
                      {% endfor %}
                      <ul>
                        {% for p in page.children if p != page %}
                          <li><a href="{{p.url}}">{{ p.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="aside right col-nano-1-1">
                  <div class="aside-box">
                    <div class="aside-item">
                      {{ page.header.sidebar_content|markdown }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
