<!-- Main Houses -->

{% block main_wide %}
  <div class="content left col-large-1-1">
    <div class="content-box">
      <!-- Title -->
      {% if page.header.title != "" %}
        <div class="content-item">
          <h1 class="extra-large text-center no-margin pink-500-cl">{{ page.header.title }}</h1>
          {% if page.header.price_label != "" %}
            <p class="nano text-center no-margin gray-700-cl"><strong>{{ page.header.price_label }}</strong></p>
          {% endif %}
        </div>
      {% endif %}
      <!-- Cover image -->
      {% if page.header.cover_image != "" %}
        <div class="content-item">
          {% for asset in page.header.cover_image %}
            <img src="{{ url(asset.path) }}" title="{{ site.title }}" alt="Image :: {{ site.title }}"/>
          {% endfor %}
        </div>
        <div class="separator tiny"></div>
      {% endif %}
    </div>
  </div>
  <!-- Content -->
  {% if page.content != "" %}
    <div class="content left col-large-1-1">
      <div class="content-box">
        <div class="content-item">
          {{ page.content|raw }}
        </div>
      </div>
    </div>
  {% endif %}
  <!-- Houses -->
  <div class="content col-large-1-1">
    <div class="content-box">
      <div class="content-item col-large-1-1 altai-center">
        <div class="houses">
          <ul class="houses-box">
            {% for item in page.children if item != page %}
              <li class="houses-item">
                <div class="houses-left">
                  {% for image in item.header.house_thumb_image %}
                    <img src="{{ image.path }}" title="{{ site.title }}" alt="Image :: {{ site.title }}"/>
                  {% endfor %}
                </div>
                <div class="houses-right">
                  <a href="{{item.url}}" class="link large gray wide hover-underline">{{ item.title }}</a>
                  <div class="separator tiny"></div>
                  <p class="tiny wide left description">{{ item.header.house_description }}</p>
                  <div class="separator tiny"></div>
                  <div class="wrap-left auto">
                    <p class="nano left no-margin price-label gray-700-cl">{{ item.header.price_label }}</p>
                  </div>
                  <div class="wrap-right auto">
                    <a href="{{item.url}}" class="button small pink hover-underline left">More Information</a>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
