<!-- Main Left -->

{% block main_wide %}
  <div class="universal main gray-100-bg">
    <div class="universal-box">
      <div class="universal-item">
        <div class="center-h-parent">
          <div class="center-h-child">
            <div class="left col-large-1-1">
              <div class="content col-large-1-1">
                <div class="content-box">
                  <div class="content-item">
                    <h1 class="extra-large text-center orange-500-cl">{{ page.header.title }}</h1>
                  </div>
                  {% if page.header.cover_image %}
                    <div class="content-item">
                      {% for asset in page.header.cover_image %}
                        <img src="{{ url(asset.path) }}" title="{{ site.title }}" alt="Image :: {{ site.title }}"/>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="aside left col-nano-1-1">
                <div class="aside-box">
                  <div class="aside-item">
                    {{ page.header.sidebar_content|markdown }}
                  </div>
                </div>
              </div>
              <div class="content right col-small-1-1">
                <div class="content-box">
                  <div class="content-item">
                    {{ page.content|raw }}
                  </div>
                </div>
              </div>
              <div class="content col-large-1-1">
                <div class="content-box">
                  {% for image in page.media.images %}
                    <div class="content-item col-large-3-1">
                      {{ image.lightbox(1024,768).cropZoom(100,50).html() }}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
